PORT=3000
SPREADSHEET_ID=senin_spreadsheet_id_buraya
GOOGLE_SERVICE_ACCOUNT_EMAIL=senin_service_account_email@...com
# Eğer credentials.json dosyası kullanmayacaksanız PRIVATE_KEY buraya eklenebilir
# GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n..."
